body {
  margin: 0 ;
}



 /* login */
.login-box {
   
    background-color: #222831;
    width: 400px;
    height: 400px;

}

/* dashboard */
.dashboard {
  width: 100%;
  height: 100vh;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;

}


/* navbar */
.left-navbar {
  color: white;
  width: 200px;
  height: 100%;
  background-color: #273841;
  /* position: fixed; */
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content {
  height: 100%;
  width: 100%;
  background-color: #ececec;
  overflow-y: auto;
}

.top-navbar {
  max-height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}



#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  
  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  #nav a.router-link-exact-active {
    color: #42b983;
  }

  .products {
    height: 100%;
    width: 100%;
  }

  .addProduct {
    height: 100%;
    width: 100%;
  }