
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Righteous&display=swap');

body {
  margin: 0 ;
}

.title h1 {
  padding-top: 10px;
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
}

.login-title h1 {
  padding-top: 10px;
  font-family: 'Fredoka One', cursive;
  color: black;
  font-size:100px;
  margin: 0;
  padding: 0;
}

.login-title {
  margin-top: 50px;
}


 /* login */
.login-box {
   
    background-color: #222831;
    width: 400px;
    height: 400px;

}

/* dashboard */
.dashboard {
  width: 100%;
  height: 100vh;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;

}


/* navbar */
.left-navbar {
  color: white;
  width: 200px;
  height: 100%;
  background-color: #273841;
  /* position: fixed; */
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content {
  height: 100%;
  width: 100%;
  background-color: #ececec;
  overflow-y: auto;
}

.top-navbar {
  max-height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}


#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  
  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  #nav a.router-link-exact-active {
    color: #42b983;
  }

  .products {
    height: 100%;
    width: 100%;
  }

  .addProduct, .editproduct, .dashboard-wrapper {
    height: 100%;
    width: 100%;
  }


  h3 {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
  }

/* loading */
.loading {
  background: white;
  position: fixed;
  z-index: 10;
  width:100%;
  height: 100%;
  opacity: 50%;
}

lottie-player {
  top: 0;
  left: 40%;
  margin-right: 50%;
  transform: translate(-50%, 50%);
  position: absolute;
}